<a href="https://colab.research.google.com/github/Kavi-Sarna/365-python/blob/main/3%20-%20Python%20Programmer%20Bootcamp/4%20-%20Loops/5%20-%20Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1

Ask the user for two numbers between 1 and 100.

Then count from the lower number to the higher number.

Print the results to the screen.

In [136]:
num_1 = int(input('Enter the first number between 1 and 100: '))
num_2 = int(input('Enter the second number between 1 and 100: '))

if num_1 < num_2:
  for i in range(num_1, num_2+1):
    print(i, end=' ')
else:
  for i in range(num_2, num_1+1):
    print(i, end=' ')

Enter the first number between 1 and 100: 10
Enter the second number between 1 and 100: 20
10 11 12 13 14 15 16 17 18 19 20

In [138]:
num_1 = int(input('Please enter a number between 1-100:> '))
num_2 = int(input('Please enter a number between 1-100:> '))

while num_1 < 0 or num_2 < 0 or num_1 > 100 or num_2 > 100 or num_1 == num_2:
  print('Numbers must be different values between 1 and 100, try again')
  num_1 = int(input('Please enter a number between 1-100:> '))
  num_2 = int(input('Please enter a number between 1-100:> '))

if num_1 < num_2:
  for i in range(num_1,num_2+1):
    print(i,end=' ')
else:
  for i in range(num_2,num_1+1):
    print(i,end=' ')

Please enter a number between 1-100:> 120
Please enter a number between 1-100:> 125
Numbers must be different values between 1 and 100, try again
Please enter a number between 1-100:> 23
Please enter a number between 1-100:> 24
23 24

Question 2

Ask the user to input a string and then print it out to the screen in
reverse order (use a for loop).

In [140]:
word = input('Enter a string: ')
reverse_word = ''
for char in word:
  reverse_word = char + reverse_word

print(reverse_word)

Enter a string: Python
nohtyP

In [141]:
print(word[::-1])

nohtyP

Question 3

Ask the user for a number between 1 and 12 and then display a times
table for that number.

In [142]:
user_input =  input('Enter a number between 1 and 12: ')

while not(user_input.isdigit()) or int(user_input) < 1 or int(user_input) > 12:
  print('Must be an integer between 1 and 12')
  user_input = input('Please make selection:> ' )

user_input = int(user_input)

for i in range(1, 11):
  print(f'{i} * {user_input} = {i * user_input}')

Enter a number between 1 and 12: 4
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40

Question 4

Can you amend the solution to question 3 so that it just prints out all
times tables between 1 and 12? (no  need to ask user for input)

In [143]:
for i in range(2, 13):
  print(f'Printing table of {i} ::')
  print()
  for j in range(1, 11):
    print(f'{j} * {i} = {j * i}')
  print()
  print()

Printing table of 2 ::

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20


Printing table of 3 ::

1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30


Printing table of 4 ::

1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40


Printing table of 5 ::

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50


Printing table of 6 ::

1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60


Printing table of 7 ::

1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70


Printing table of 8 ::

1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
10 * 8 = 80


Printing table of 9 ::

1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81
10 * 9 = 90


Printing table of 10 ::

1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100


Printing table of 11 ::

1 * 11 = 11
2 * 11 = 22
3 * 11 = 33
4 * 11 = 44
5 * 11 = 55
6 * 11 = 66
7 * 11 = 77
8 * 11 = 88
9 * 11 = 99
10 * 11 = 110


Printing table of 12 ::

1 * 12 = 12
2 * 12 = 24
3 * 12 = 36
4 * 12 = 48
5 * 12 = 60
6 * 12 = 72
7 * 12 = 84
8 * 12 = 96
9 * 12 = 108
10 * 12 = 120

Question 5

Ask the user to input a sequence of numbers.

Then calculate the mean and print the result.

In [149]:
user_input = input('Please enter a number type exit to stop:> ')
numbers = []

while user_input.lower() != 'exit':
  while not user_input.isdigit():
    print('That is not a number! Numbers only please:> ')
    user_input = input('Try again:> ')
  numbers.append(int(user_input))
  user_input = input('Please enter next number:> ')

total = 0

for number in numbers:
  total += number

print(f'Mean is {total/len(numbers)}')
print(sum(numbers)/len(numbers))

Please enter a number type exit to stop:> 1
Please enter next number:> 2
Please enter next number:> 3
Please enter next number:> 4
Please enter next number:> 5
Please enter next number:> exit
Mean is 3.0
3.0

Question 6

Write code that will calculate 15 factorial.

(factorial is product of positive ints up to a given number. e.g 5 factorial is 5x4x3x2x1)

In [151]:
num = 15
fact = 1
for i in range(1, num+1):
  fact *= i
print(fact)

1307674368000

Question 7

Write code to calculate Fibonacci numbers.

Create list containing first 20 Fibonacci numbers,

(Fib  numbers made by sum of preceeding two. Series starts 0 1 1 2 3 5 8 13 ....)

In [154]:
num_1 = 0
num_2 = 1

print(num_1, end=' ')
print(num_2, end=' ')

for i in range(18):
  print(num_1 + num_2, end=' ')
  num_1, num_2 = num_2, num_1 + num_2

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [155]:
n = 20

# Set a and b to the first two numbers in the sequence
a = 0
b = 1

# List in which to store numbers
fib_nums = []

# Use a for loop to create the sequence, repeat n times
for i in range(n):
  fib_nums.append(a)
  a,b = b,a+b

print(f'The first {n} Fibonacci numbers are, {fib_nums}')

The first 20 Fibonacci numbers are, [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

Question 8

     *****
     *
     ****
     *
     *
     *
Can you draw this using python?

In [163]:
star = '*'

for i in range(6):
  for j in range(5):
    if i == 0 and j < 5:
      print(star, end=' ')
    elif i == 1 and j < 1:
      print()
      print(star, end=' ')
      print()
    elif i == 2 and j < 4:
      print(star, end=' ')
    elif (i == 3 or i == 4 or i == 5) and j < 1:
      print()
      print(star, end=' ')

* * * * *
*
* * * *
*
*
*

Question 9

Write some code that will determine all odd and even numbers
between 1 and 100.

Put the odds in a list named odd and the evens in a list named even.

In [164]:
n = 100

even = []
odd = []

for i in range(1, n+1):
  if i % 2 == 0:
    even.append(i)
  else:
    odd.append(i)

print(f'List of odd numbers: {odd}')
print(f'List of even numbers: {even}')

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]