<a href="https://colab.research.google.com/github/Kavi-Sarna/365-python/blob/main/4%20-%20Data%20Cleaning%20and%20Preprocessing%20with%20pandas/2%20-%20pandas%20Series/5%20-%20sort_index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Location.csv').squeeze('columns')
location_data = data.copy()
location_data.head()

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [3]:
location_data.sort_values(ascending = False)

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [4]:
location_data_sv = location_data.sort_values(ascending = False)
location_data_sv.head()

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
Name: Location, dtype: object

In [5]:
location_data_sv.index

Int64Index([ 372,  757,  128,  482,  271,  669,  612,   29,  518,  598,
            ...
             904,  912, 1010,   14,  716,  202,  298,  637,  884,  465],
           dtype='int64', length=1043)

In [6]:
location_data_sv.index.sort_values()

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042],
           dtype='int64', length=1043)

In [7]:
location_data_sv.head()

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
Name: Location, dtype: object

In [8]:
location_data_sv.index = location_data_sv.index.sort_values()

In [9]:
location_data_sv

0       Location 99
1       Location 98
2       Location 97
3       Location 97
4       Location 97
           ...
1038    Location 10
1039    Location 10
1040     Location 1
1041     Location 1
1042     Location 1
Name: Location, Length: 1043, dtype: object

In [10]:
location_data_sv = location_data.sort_values(ascending=False)
location_data_sv.head()

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
Name: Location, dtype: object

In [11]:
location_data_sv.sort_index()

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [12]:
location_data_sv

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [13]:
location_data_sv = location_data_sv.sort_index(ascending=True)
location_data_sv

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object