<a href="https://colab.research.google.com/github/Kavi-Sarna/365-python/blob/main/3%20-%20Intermediate%20Python%20Programming/2%20-%20Nested%20Loops%2C%20List%20Comprehensions%2C%20Anonymous%20Functions/2%20-%20Nested%20For%20Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(2):
  print(i)

0
1

In [2]:
for j in range(5):
  print(j)

0
1
2
3
4

In [3]:
for i in range(2):
  for j in range(5):
    print(j)

0
1
2
3
4
0
1
2
3
4

In [4]:
for i in range(2):
  for j in range(5):
    print([i, j])

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[0, 4]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]

In [5]:
for i in ['Product A', 'Product B']:
  for j in range(5):
    print([i, j])

['Product A', 0]
['Product A', 1]
['Product A', 2]
['Product A', 3]
['Product A', 4]
['Product B', 0]
['Product B', 1]
['Product B', 2]
['Product B', 3]
['Product B', 4]

In [6]:
products = ['Product A', 'Product B']
exp_sales = [10000, 11000, 12000, 13000, 14000]

In [7]:
for i in products:
  for j in exp_sales:
    print([i, j])

['Product A', 10000]
['Product A', 11000]
['Product A', 12000]
['Product A', 13000]
['Product A', 14000]
['Product B', 10000]
['Product B', 11000]
['Product B', 12000]
['Product B', 13000]
['Product B', 14000]

In [8]:
products = ['Product A', 'Product B']
exp_sales = [10000, 11000, 12000, 13000, 14000]
time_horizon = (1, 3, 12)

In [9]:
for i in products:
  for j in exp_sales:
    for k in time_horizon:
      print([ i, j*k ])

['Product A', 10000]
['Product A', 30000]
['Product A', 120000]
['Product A', 11000]
['Product A', 33000]
['Product A', 132000]
['Product A', 12000]
['Product A', 36000]
['Product A', 144000]
['Product A', 13000]
['Product A', 39000]
['Product A', 156000]
['Product A', 14000]
['Product A', 42000]
['Product A', 168000]
['Product B', 10000]
['Product B', 30000]
['Product B', 120000]
['Product B', 11000]
['Product B', 33000]
['Product B', 132000]
['Product B', 12000]
['Product B', 36000]
['Product B', 144000]
['Product B', 13000]
['Product B', 39000]
['Product B', 156000]
['Product B', 14000]
['Product B', 42000]
['Product B', 168000]

In [10]:
for prod in products:
  for sale in exp_sales:
    for t_hor in time_horizon:
      print([ prod, sale * t_hor ])

['Product A', 10000]
['Product A', 30000]
['Product A', 120000]
['Product A', 11000]
['Product A', 33000]
['Product A', 132000]
['Product A', 12000]
['Product A', 36000]
['Product A', 144000]
['Product A', 13000]
['Product A', 39000]
['Product A', 156000]
['Product A', 14000]
['Product A', 42000]
['Product A', 168000]
['Product B', 10000]
['Product B', 30000]
['Product B', 120000]
['Product B', 11000]
['Product B', 33000]
['Product B', 132000]
['Product B', 12000]
['Product B', 36000]
['Product B', 144000]
['Product B', 13000]
['Product B', 39000]
['Product B', 156000]
['Product B', 14000]
['Product B', 42000]
['Product B', 168000]

In [11]:
for prod in products:
  for sale in exp_sales:
    for t_hor in time_horizon:
      print('Expected sales for a period of {0} month(s) for {1}: ${sales}'.format(t_hor, prod, sales = sale * t_hor))

Expected sales for a period of 1 month(s) for Product A: $10000
Expected sales for a period of 3 month(s) for Product A: $30000
Expected sales for a period of 12 month(s) for Product A: $120000
Expected sales for a period of 1 month(s) for Product A: $11000
Expected sales for a period of 3 month(s) for Product A: $33000
Expected sales for a period of 12 month(s) for Product A: $132000
Expected sales for a period of 1 month(s) for Product A: $12000
Expected sales for a period of 3 month(s) for Product A: $36000
Expected sales for a period of 12 month(s) for Product A: $144000
Expected sales for a period of 1 month(s) for Product A: $13000
Expected sales for a period of 3 month(s) for Product A: $39000
Expected sales for a period of 12 month(s) for Product A: $156000
Expected sales for a period of 1 month(s) for Product A: $14000
Expected sales for a period of 3 month(s) for Product A: $42000
Expected sales for a period of 12 month(s) for Product A: $168000
Expected sales for a period of 1 month(s) for Product B: $10000
Expected sales for a period of 3 month(s) for Product B: $30000
Expected sales for a period of 12 month(s) for Product B: $120000
Expected sales for a period of 1 month(s) for Product B: $11000
Expected sales for a period of 3 month(s) for Product B: $33000
Expected sales for a period of 12 month(s) for Product B: $132000
Expected sales for a period of 1 month(s) for Product B: $12000
Expected sales for a period of 3 month(s) for Product B: $36000
Expected sales for a period of 12 month(s) for Product B: $144000
Expected sales for a period of 1 month(s) for Product B: $13000
Expected sales for a period of 3 month(s) for Product B: $39000
Expected sales for a period of 12 month(s) for Product B: $156000
Expected sales for a period of 1 month(s) for Product B: $14000
Expected sales for a period of 3 month(s) for Product B: $42000
Expected sales for a period of 12 month(s) for Product B: $168000

In [12]:
for prod in products:
    for t_hor in time_horizon:
        for sale in exp_sales:
            print ('Expected sales for a period of {0} month(s) for {1}: ${sales}'.format(t_hor, prod, sales = sale * t_hor))

Expected sales for a period of 1 month(s) for Product A: $10000
Expected sales for a period of 1 month(s) for Product A: $11000
Expected sales for a period of 1 month(s) for Product A: $12000
Expected sales for a period of 1 month(s) for Product A: $13000
Expected sales for a period of 1 month(s) for Product A: $14000
Expected sales for a period of 3 month(s) for Product A: $30000
Expected sales for a period of 3 month(s) for Product A: $33000
Expected sales for a period of 3 month(s) for Product A: $36000
Expected sales for a period of 3 month(s) for Product A: $39000
Expected sales for a period of 3 month(s) for Product A: $42000
Expected sales for a period of 12 month(s) for Product A: $120000
Expected sales for a period of 12 month(s) for Product A: $132000
Expected sales for a period of 12 month(s) for Product A: $144000
Expected sales for a period of 12 month(s) for Product A: $156000
Expected sales for a period of 12 month(s) for Product A: $168000
Expected sales for a period of 1 month(s) for Product B: $10000
Expected sales for a period of 1 month(s) for Product B: $11000
Expected sales for a period of 1 month(s) for Product B: $12000
Expected sales for a period of 1 month(s) for Product B: $13000
Expected sales for a period of 1 month(s) for Product B: $14000
Expected sales for a period of 3 month(s) for Product B: $30000
Expected sales for a period of 3 month(s) for Product B: $33000
Expected sales for a period of 3 month(s) for Product B: $36000
Expected sales for a period of 3 month(s) for Product B: $39000
Expected sales for a period of 3 month(s) for Product B: $42000
Expected sales for a period of 12 month(s) for Product B: $120000
Expected sales for a period of 12 month(s) for Product B: $132000
Expected sales for a period of 12 month(s) for Product B: $144000
Expected sales for a period of 12 month(s) for Product B: $156000
Expected sales for a period of 12 month(s) for Product B: $168000