<a href="https://colab.research.google.com/github/Kavi-Sarna/365-python/blob/main/3%20-%20Intermediate%20Python%20Programming/2%20-%20Nested%20Loops%2C%20List%20Comprehensions%2C%20Anonymous%20Functions/5%20-%20Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Iterating Over Range Objects, <br><br> Nested For Loops - Introduction, <br><br> Triple Nested For Loops

Create a 'range' object with a stop value of 10.
Do this operation twice - once without indicating a start value, and then by indicating the start value of 0.

In [1]:
range(10)

range(0, 10)

In [2]:
range(0, 10)

range(0, 10)

Turn this 'range' object into a list of values.

In [3]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Obtain all integers from 0 to 9 again, this time using a for-loop with a range() function. Let Python display the values in the output vertically.

In [4]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

Repeat the same task, this time printing the values from the output on the same line.

In [5]:
for i in range(0, 10):
  print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

Create a nested loop that delivers all possible combinations of the elements from the following two lists in the form of lists:

In [6]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]

In [7]:
for prod in products_on_sale:
  for price in sale_prices:
    print([prod, price])

['Chair_Type_1', 100]
['Chair_Type_1', 120]
['Chair_Type_1', 135]
['Chair_Type_1', 150]
['Chair_Type_2', 100]
['Chair_Type_2', 120]
['Chair_Type_2', 135]
['Chair_Type_2', 150]
['Chair_Type_3', 100]
['Chair_Type_3', 120]
['Chair_Type_3', 135]
['Chair_Type_3', 150]
['Chair_Type_4', 100]
['Chair_Type_4', 120]
['Chair_Type_4', 135]
['Chair_Type_4', 150]

Consider the following list with data, which is our third for this exercise. It represents the possible quantities in which the relevant items can be put on sale.

In [8]:
quantities = [1000, 1500, 1300]

Create a triple nested loop that shows the potential revenue generated from each chair type. Use iterator variables with more meaningful names than letters such as i, j, k.
<br>Present two versions of the nested loop. Let the first one return a Python list where the chair type is the first element, while the potential revenue is the second element.
<br>Then, let the second loop return a more presentable output, where the quantity and potential revenue have been explicitly stated.

In [9]:
for prod in products_on_sale:
  for quantity in quantities:
    for price in sale_prices:
      print([prod, quantity * price])

['Chair_Type_1', 100000]
['Chair_Type_1', 120000]
['Chair_Type_1', 135000]
['Chair_Type_1', 150000]
['Chair_Type_1', 150000]
['Chair_Type_1', 180000]
['Chair_Type_1', 202500]
['Chair_Type_1', 225000]
['Chair_Type_1', 130000]
['Chair_Type_1', 156000]
['Chair_Type_1', 175500]
['Chair_Type_1', 195000]
['Chair_Type_2', 100000]
['Chair_Type_2', 120000]
['Chair_Type_2', 135000]
['Chair_Type_2', 150000]
['Chair_Type_2', 150000]
['Chair_Type_2', 180000]
['Chair_Type_2', 202500]
['Chair_Type_2', 225000]
['Chair_Type_2', 130000]
['Chair_Type_2', 156000]
['Chair_Type_2', 175500]
['Chair_Type_2', 195000]
['Chair_Type_3', 100000]
['Chair_Type_3', 120000]
['Chair_Type_3', 135000]
['Chair_Type_3', 150000]
['Chair_Type_3', 150000]
['Chair_Type_3', 180000]
['Chair_Type_3', 202500]
['Chair_Type_3', 225000]
['Chair_Type_3', 130000]
['Chair_Type_3', 156000]
['Chair_Type_3', 175500]
['Chair_Type_3', 195000]
['Chair_Type_4', 100000]
['Chair_Type_4', 120000]
['Chair_Type_4', 135000]
['Chair_Type_4', 150000]
['Chair_Type_4', 150000]
['Chair_Type_4', 180000]
['Chair_Type_4', 202500]
['Chair_Type_4', 225000]
['Chair_Type_4', 130000]
['Chair_Type_4', 156000]
['Chair_Type_4', 175500]
['Chair_Type_4', 195000]

In [11]:
for prod in products_on_sale:
  for quantity in quantities:
    for price in sale_prices:
      print('Expected revenue for {} if {} chairs are to be sold: ${}.'.format(prod, quantity, quantity * price))

Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: $100000.
Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: $120000.
Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: $135000.
Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: $150000.
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: $150000.
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: $180000.
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: $202500.
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: $225000.
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: $130000.
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: $156000.
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: $175500.
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: $195000.
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: $100000.
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: $120000.
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: $135000.
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: $150000.
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: $150000.
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: $180000.
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: $202500.
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: $225000.
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: $130000.
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: $156000.
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: $175500.
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: $195000.
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: $100000.
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: $120000.
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: $135000.
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: $150000.
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: $150000.
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: $180000.
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: $202500.
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: $225000.
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: $130000.
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: $156000.
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: $175500.
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: $195000.
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: $100000.
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: $120000.
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: $135000.
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: $150000.
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: $150000.
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: $180000.
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: $202500.
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: $225000.
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: $130000.
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: $156000.
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: $175500.
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: $195000.

## List Comprehensions

Execute the code cell below to create the following three lists: **products_on_sale**, **sale_prices**, **quantities**

In [12]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

The following code cell will execute a nested loop that will deliver all possible combinations of the elements from the **products_on_sale**, **sale_prices** and **quantities** lists:

In [13]:
for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            print ([chair_type, price*quantity])

['Chair_Type_1', 100000]
['Chair_Type_1', 150000]
['Chair_Type_1', 130000]
['Chair_Type_1', 120000]
['Chair_Type_1', 180000]
['Chair_Type_1', 156000]
['Chair_Type_1', 135000]
['Chair_Type_1', 202500]
['Chair_Type_1', 175500]
['Chair_Type_1', 150000]
['Chair_Type_1', 225000]
['Chair_Type_1', 195000]
['Chair_Type_2', 100000]
['Chair_Type_2', 150000]
['Chair_Type_2', 130000]
['Chair_Type_2', 120000]
['Chair_Type_2', 180000]
['Chair_Type_2', 156000]
['Chair_Type_2', 135000]
['Chair_Type_2', 202500]
['Chair_Type_2', 175500]
['Chair_Type_2', 150000]
['Chair_Type_2', 225000]
['Chair_Type_2', 195000]
['Chair_Type_3', 100000]
['Chair_Type_3', 150000]
['Chair_Type_3', 130000]
['Chair_Type_3', 120000]
['Chair_Type_3', 180000]
['Chair_Type_3', 156000]
['Chair_Type_3', 135000]
['Chair_Type_3', 202500]
['Chair_Type_3', 175500]
['Chair_Type_3', 150000]
['Chair_Type_3', 225000]
['Chair_Type_3', 195000]
['Chair_Type_4', 100000]
['Chair_Type_4', 150000]
['Chair_Type_4', 130000]
['Chair_Type_4', 120000]
['Chair_Type_4', 180000]
['Chair_Type_4', 156000]
['Chair_Type_4', 135000]
['Chair_Type_4', 202500]
['Chair_Type_4', 175500]
['Chair_Type_4', 150000]
['Chair_Type_4', 225000]
['Chair_Type_4', 195000]

Use a list comprehension to obtain the same output. Store it in a variable called **sales_revenue**. <br/>
Make sure you refrain from obtaining any inexistent "None" values.

In [16]:
sales_revenue = [[chair_type, price * quantity] for chair_type in products_on_sale for price in sale_prices for quantity in quantities]
sales_revenue

[['Chair_Type_1', 100000],
 ['Chair_Type_1', 150000],
 ['Chair_Type_1', 130000],
 ['Chair_Type_1', 120000],
 ['Chair_Type_1', 180000],
 ['Chair_Type_1', 156000],
 ['Chair_Type_1', 135000],
 ['Chair_Type_1', 202500],
 ['Chair_Type_1', 175500],
 ['Chair_Type_1', 150000],
 ['Chair_Type_1', 225000],
 ['Chair_Type_1', 195000],
 ['Chair_Type_2', 100000],
 ['Chair_Type_2', 150000],
 ['Chair_Type_2', 130000],
 ['Chair_Type_2', 120000],
 ['Chair_Type_2', 180000],
 ['Chair_Type_2', 156000],
 ['Chair_Type_2', 135000],
 ['Chair_Type_2', 202500],
 ['Chair_Type_2', 175500],
 ['Chair_Type_2', 150000],
 ['Chair_Type_2', 225000],
 ['Chair_Type_2', 195000],
 ['Chair_Type_3', 100000],
 ['Chair_Type_3', 150000],
 ['Chair_Type_3', 130000],
 ['Chair_Type_3', 120000],
 ['Chair_Type_3', 180000],
 ['Chair_Type_3', 156000],
 ['Chair_Type_3', 135000],
 ['Chair_Type_3', 202500],
 ['Chair_Type_3', 175500],
 ['Chair_Type_3', 150000],
 ['Chair_Type_3', 225000],
 ['Chair_Type_3', 195000],
 ['Chair_Type_4', 100000],
 ['Chair_Type_4', 150000],
 ['Chair_Type_4', 130000],
 ['Chair_Type_4', 120000],
 ['Chair_Type_4', 180000],
 ['Chair_Type_4', 156000],
 ['Chair_Type_4', 135000],
 ['Chair_Type_4', 202500],
 ['Chair_Type_4', 175500],
 ['Chair_Type_4', 150000],
 ['Chair_Type_4', 225000],
 ['Chair_Type_4', 195000]]

In [18]:
sales_revenue = filter(None, [print(chair_type, price * quantity) for chair_type in products_on_sale for price in sale_prices for quantity in quantities])

Chair_Type_1 100000
Chair_Type_1 150000
Chair_Type_1 130000
Chair_Type_1 120000
Chair_Type_1 180000
Chair_Type_1 156000
Chair_Type_1 135000
Chair_Type_1 202500
Chair_Type_1 175500
Chair_Type_1 150000
Chair_Type_1 225000
Chair_Type_1 195000
Chair_Type_2 100000
Chair_Type_2 150000
Chair_Type_2 130000
Chair_Type_2 120000
Chair_Type_2 180000
Chair_Type_2 156000
Chair_Type_2 135000
Chair_Type_2 202500
Chair_Type_2 175500
Chair_Type_2 150000
Chair_Type_2 225000
Chair_Type_2 195000
Chair_Type_3 100000
Chair_Type_3 150000
Chair_Type_3 130000
Chair_Type_3 120000
Chair_Type_3 180000
Chair_Type_3 156000
Chair_Type_3 135000
Chair_Type_3 202500
Chair_Type_3 175500
Chair_Type_3 150000
Chair_Type_3 225000
Chair_Type_3 195000
Chair_Type_4 100000
Chair_Type_4 150000
Chair_Type_4 130000
Chair_Type_4 120000
Chair_Type_4 180000
Chair_Type_4 156000
Chair_Type_4 135000
Chair_Type_4 202500
Chair_Type_4 175500
Chair_Type_4 150000
Chair_Type_4 225000
Chair_Type_4 195000

**List comprehensions with Conditionals**
<br> <br> **Conditional on the iterable**

Use a list comprehension to return a list with all even numbers between 1 and 10 inclusive, multiplied by 10.

In [19]:
[num * 10 for num in range(1, 11) if num % 2 == 0]

[20, 40, 60, 80, 100]

We consider the previous answer as the Pythonic way to obtain the output because it involved the use of a list comprehension.
Can you think of a way to obtain identical output in the "Non-Pythonic" way, i.e. by using a double nested loop?

In [20]:
for num in range(1, 11):
  if num % 2 == 0:
    print(num * 10, end=' ')

20 40 60 80 100

**Conditional on the output**

Return a list that contains the element from range(1, 11) multiplied by 10 if the number is even, and "None" if that number is odd.

In [21]:
[num * 10 if num % 2 == 0 else None for num in range(1, 11)]

[None, 20, None, 40, None, 60, None, 80, None, 100]

## Anonymous Functions

Define a function called **multiply_by_10** that will return a value ten times bigger than the argument.

In [22]:
def multiply_by_10(num):
  return num * 10

Apply **multiply_by_10** to the argument of 5. Clearly, you should obtain 50.

In [23]:
multiply_by_10(5)

50

#### Lambda Functions

This time, create **multiply_by_10** as a Lambda funciton. Execute it with an argument of 7.

In [29]:
multiply_by_10 = lambda num: num * 10
multiply_by_10(7)

70

In [30]:
(lambda num: num * 10) (7)

70

Define a Lambda function named **product_xy** that returns the product of two parameters, x and y. Execute it with arguments 4 and 20.

In [27]:
product_xy = lambda x, y: x * y
product_xy(4, 20)

80

In [28]:
(lambda x, y: x * y) (4, 20)

80

Create a Lambda function that returns the output of the following mathematical expression. Execute it with an argument of 3.
<br> $$
\frac{(135 - x^3)^4}{(1 + x)^5}
$$

In [26]:
(lambda x: (135 - x ** 3) ** 4 / (1 + x) ** 5) (3)

132860.25