<a href="https://colab.research.google.com/github/Kavi-Sarna/365-python/blob/main/7%20-%20Data%20Preprocessing%20with%20NumPy/8%20-%20Data%20Manipulation%20with%20NumPy/10%20-%20Striping%20Values%20from%20Ndarrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
lending_co_total_price = np.genfromtxt('Lending-Company-Total-Price.csv',
                                     delimiter = ',',
                                     dtype = np.str_,
                                     skip_header = 1,
                                     usecols = [1, 2, 4])
lending_co_total_price

array([['id_1', 'Product B', 'Location 2'],
       ['id_2', 'Product B', 'Location 3'],
       ['id_3', 'Product C', 'Location 5'],
       ...,
       ['id_413', 'Product B', 'Location 135'],
       ['id_414', 'Product C', 'Location 200'],
       ['id_415', 'Product A', 'Location 8']], dtype='<U12')

In [3]:
np.chararray.strip(lending_co_total_price[:,0], "id_")

chararray(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
           '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
           '23', '24', '25', '26', '27', '28', '29', '30', '31', '32',
           '33', '34', '35', '36', '37', '38', '39', '40', '41', '42',
           '43', '44', '45', '46', '47', '48', '49', '50', '51', '52',
           '53', '54', '55', '56', '57', '58', '59', '60', '61', '62',
           '63', '64', '65', '66', '67', '68', '69', '70', '71', '72',
           '73', '74', '75', '76', '77', '78', '79', '80', '81', '82',
           '83', '84', '85', '86', '87', '88', '89', '90', '91', '92',
           '93', '94', '95', '96', '97', '98', '99', '100', '101', '102',
           '103', '104', '105', '106', '107', '108', '109', '110', '111',
           '112', '113', '114', '115', '116', '117', '118', '119', '120',
           '121', '122', '123', '124', '125', '126', '127', '128', '129',
           '130', '131', '132', '133', '134', '135', '136', '137', '138',
           '139', '140', '141', '142', '143', '144', '145', '146', '147',
           '148', '149', '150', '151', '152', '153', '154', '155', '156',
           '157', '158', '159', '160', '161', '162', '163', '164', '165',
           '166', '167', '168', '169', '170', '171', '172', '173', '174',
           '175', '176', '177', '178', '179', '180', '181', '182', '183',
           '184', '185', '186', '187', '188', '189', '190', '191', '192',
           '193', '194', '195', '196', '197', '198', '199', '200', '201',
           '202', '203', '204', '205', '206', '207', '208', '209', '210',
           '211', '212', '213', '214', '215', '216', '217', '218', '219',
           '220', '221', '222', '223', '224', '225', '226', '227', '228',
           '229', '230', '231', '232', '233', '234', '235', '236', '237',
           '238', '239', '240', '241', '242', '243', '244', '245', '246',
           '247', '248', '249', '250', '251', '252', '253', '254', '255',
           '256', '257', '258', '259', '260', '261', '262', '263', '264',
           '265', '266', '267', '268', '269', '270', '271', '272', '273',
           '274', '275', '276', '277', '278', '279', '280', '281', '282',
           '283', '284', '285', '286', '287', '288', '289', '290', '291',
           '292', '293', '294', '295', '296', '297', '298', '299', '300',
           '301', '302', '303', '304', '305', '306', '307', '308', '309',
           '310', '311', '312', '313', '314', '315', '316', '317', '318',
           '319', '320', '321', '322', '323', '324', '325', '326', '327',
           '328', '329', '330', '331', '332', '333', '334', '335', '336',
           '337', '338', '339', '340', '341', '342', '343', '344', '345',
           '346', '347', '348', '349', '350', '351', '352', '353', '354',
           '355', '356', '357', '358', '359', '360', '361', '362', '363',
           '364', '365', '366', '367', '368', '369', '370', '371', '372',
           '373', '374', '375', '376', '377', '378', '379', '380', '381',
           '382', '383', '384', '385', '386', '387', '388', '389', '390',
           '391', '392', '393', '394', '395', '396', '397', '398', '399',
           '400', '401', '402', '403', '404', '405', '406', '407', '408',
           '409', '410', '411', '412', '413', '414', '415'], dtype='<U12')

In [4]:
lending_co_total_price[:, 0] = np.chararray.strip(lending_co_total_price[:, 0], "id_")
lending_co_total_price[:, 1] = np.chararray.strip(lending_co_total_price[:, 1], "Product ")
lending_co_total_price[:, 2] = np.chararray.strip(lending_co_total_price[:, 2], "Location ")
lending_co_total_price

array([['1', 'B', '2'],
       ['2', 'B', '3'],
       ['3', 'C', '5'],
       ...,
       ['413', 'B', '135'],
       ['414', 'C', '200'],
       ['415', 'A', '8']], dtype='<U12')

In [5]:
lending_co_total_price[:, 1] = np.where(lending_co_total_price[:, 1] == 'A', 1, lending_co_total_price[:, 1])
lending_co_total_price[:, 1] = np.where(lending_co_total_price[:, 1] == 'B', 2, lending_co_total_price[:, 1])
lending_co_total_price[:, 1] = np.where(lending_co_total_price[:, 1] == 'C', 3, lending_co_total_price[:, 1])
lending_co_total_price[:, 1] = np.where(lending_co_total_price[:, 1] == 'D', 4, lending_co_total_price[:, 1])
lending_co_total_price[:, 1] = np.where(lending_co_total_price[:, 1] == 'E', 5, lending_co_total_price[:, 1])
lending_co_total_price[:, 1] = np.where(lending_co_total_price[:, 1] == 'F', 6, lending_co_total_price[:, 1])

lending_co_total_price

array([['1', '2', '2'],
       ['2', '2', '3'],
       ['3', '3', '5'],
       ...,
       ['413', '2', '135'],
       ['414', '3', '200'],
       ['415', '1', '8']], dtype='<U12')

In [6]:
lending_co_total_price = lending_co_total_price.astype(dtype = np.int32)
lending_co_total_price

array([[  1,   2,   2],
       [  2,   2,   3],
       [  3,   3,   5],
       ...,
       [413,   2, 135],
       [414,   3, 200],
       [415,   1,   8]], dtype=int32)