<a href="https://colab.research.google.com/github/Kavi-Sarna/365-python/blob/main/3%20-%20Python%20Programmer%20Bootcamp/6%20-%20Files%20and%20Functions/4%20-%20Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1

Create a function that will calculate the sum of two numbers. Call it sum_two.

In [69]:
def sum_two(x, y):
  return x + y

print(sum_two(3, 4))

7

Question 2

Write a function that performs multiplication of two arguments.

By default the function should multiply the first argument by 2.

Call it multiply.

In [70]:
def multiply(x, y = 2):
  return x * y

print(multiply(3))
print(multiply(3, 4))

6
12

Question 3

Write a function to calculate a to the power of b.

If b is not given its default value should be 2.

Call it power.

In [71]:
def power(a, b = 2):
  return a ** b

print(power(4))
print(power(4, 4))

16
256

Question 4

Create a new file called capitals.txt, store the names of five capital cities
in the file on the same line.

In [72]:
f = open('capitals.txt', 'w')

f.write('New Delhi, Seoul, Madrid, Paris, London')

f.close()

Question 5

Write some code that requests the user to input another capital city.

Add that city to the list of cities in capitals.

Then print the file to the screen.

In [75]:
user_input = input('Enter a capital city to add to the file: ')

f = open('capitals.txt', 'a')

f.write(', ' + user_input)

f.close()

with open('capitals.txt', 'r') as f:
  print(f.readlines())

Enter a capital city to add to the file: Washington DC
['New Delhi, Seoul, Madrid, Paris, London, Washington DC']

Question 6

Write a function that will copy the contents of one file to a new file.

In [77]:
def copy_file(infile, outfile):
  with open(infile, 'r') as f1:
    with open(outfile, 'w') as f2:
      f2.write(f1.read())

copy_file('capitals.txt', 'copy.txt')
with open('copy.txt', 'r') as f:
  print(f.readlines())

['New Delhi, Seoul, Madrid, Paris, London, Washington DC']