<a href="https://colab.research.google.com/github/Kavi-Sarna/365-python/blob/main/3%20-%20Python%20Programmer%20Bootcamp/16%20-%20Further%20Exercises/1%20-%20Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1

Can you write a short program that will print out the version of Python
that you are using?

In [ ]:
%%python --version

Python 3.10.12

In [ ]:
import sys

In [ ]:
print(sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

Question 2

Write a program that requests five names separated by commas and create a list containing those names.

Print your answer.

For example James,Alison,Fred,Sally,Matthew should return ['James', 'Alison', 'Fred', 'Sally', 'Matthew']

In [ ]:
names = input('Please enter 5 names separated by commas')
print(names)
print(names.split(','))

Please enter 5 names separated by commasJames,Alison,Fred,Sally,Matthew
James,Alison,Fred,Sally,Matthew
['James', 'Alison', 'Fred', 'Sally', 'Matthew']

Question 3

Write a program to determine whether a given number is within 10 of 100 or 200.

In [ ]:
num = input('Please enter a number')

while num.isalpha():
  print('Not a number')
  num = input('Please enter a number')

num = int(num)

if abs(100 - num) <= 10 or abs(200 - num) <= 10:
  print(True)
else:
  print(False)

Please enter a number99
True

Question 4

Write a program that takes a list of non-negative integers and prints each integer to the screen the same number of times as the value of the integer, each new value on a new line.

For example

[2,3,4,1] would print:

22

333

4444

1

In [ ]:
def print_num(L):
  for i in range(len(L)):
    for j in range(L[i]):
      print(L[i], end = " ")
    print()

In [ ]:
L = [2, 3, 4, 1]
print_num(L)

2 2
3 3 3
4 4 4 4
1

Question 5

Write some code that will return the number of CPUs in the system.

In [ ]:
import multiprocessing

In [ ]:
print(multiprocessing.cpu_count())

2

Question 6

Write a program that will return the sum of the digits of an integer.

In [ ]:
def sum_digits(num: int):
  sum = 0
  while num > 0:
    sum += num % 10
    num = num // 10

  return sum

In [ ]:
sum_digits(123456789)

45

Question 7

Write a program that converts text into pig latin.

Pig latin works as follows:

All letters before initial vowel are placed at the end of the word and then 'ay'
is added (explanation adapted from Wikipedia),

so pig becomes igpay,

cat becomes atcay,

potential becomes otentialpay, etc.

In [ ]:
def piglatin(text):
  pigtext = None
  vowels = ['a', 'e', 'i', 'o', 'u']

  for i, char in enumerate(text):
    char = char.lower()
    if char in vowels:
      pigtext = text[i:] + text[:i] + 'ay'
      break

  if not pigtext:
    return 'No vowels found'
  else:
    return pigtext

In [ ]:
piglatin('pig')

'igpay'

In [ ]:
piglatin('potential')

'otentialpay'

In [ ]:
piglatin('cat')

'atcay'

In [ ]:
piglatin('gypsy')

'No vowels found'

In [ ]:
piglatin('shy')

'No vowels found'

Question 8

Write a function that will check for the occurrence of double letters in a string.

If the string contains double letters next to each other it will return True, otherwise it will return False.

In [ ]:
def double_letters(text):
  for i in range(len(text)-1):
    if text[i] == text[i+1]:
      return True

  return False

In [ ]:
double_letters('ball')

True

In [ ]:
double_letters('pizza')

True

In [ ]:
double_letters('mall')

True

Question 9

Write a function that will check if a string is a palindrome.

In [ ]:
def palin(text):
  if text == text[::-1]:
    return True

  return False

In [ ]:
palin('level')

True

In [ ]:
palin('radar')

True

In [ ]:
palin('test')

False

Question 10

Write a function def add_commas(numbers) that will add commas to an integer and return it as a string.

For example add_commas(1000000) will return 1,000,000

Do it first without using string fomratting or f strings.

In [ ]:
def add_commas(numbers):
  numbers = str(numbers)
  nums = numbers[::-1]
  new_str = ''
  for i, char in enumerate(nums):
    if i != 0 and (i % 3) == 0:
      new_str = new_str + ','

    new_str = new_str + char

  return new_str[::-1]

In [ ]:
add_commas(1000000)

'1,000,000'

In [ ]:
add_commas(10)

'10'

In [ ]:
add_commas(123456789)

'123,456,789'

Question 11

Write a function that will convert an integer into binary.

In [ ]:
def to_binary(number):
  print(f'{number} in binary is {number:08b}')

In [ ]:
to_binary(10)

10 in binary is 00001010

In [ ]:
to_binary(32)

32 in binary is 00100000

In [ ]:
to_binary(31)

31 in binary is 00011111

Question 12

Write a function that calculates the sum of all integers up to n.

Use the iterative method and the formula and compare the results.

(sum of n integers given by S = (n(n+1))/2)

In [ ]:
def sum(number):
  s = 0
  for i in range(number+1):
    s += i

  s_1 = (number * (number + 1)) / 2
  return s, s_1

In [ ]:
sum(5)

(15, 15.0)

In [ ]:
sum(10)

(55, 55.0)

Question 13

Write a function that takes a positive integer n and converts it into hours and minutes.

45 would return 0h:45mins

135 would return 2h:15mins

In [ ]:
def convert_time(number):
  hour = number // 60
  min = number % 60

  return f'{hour}h:{min}mins'

In [ ]:
convert_time(45)

'0h:45mins'

In [ ]:
convert_time(135)

'2h:15mins'

Question 14

Write a function to determine whether all numbers in a list are unique.

In [ ]:
def unique_list(L):
  s = set(L)
  if len(s) == len(L):
    return True
  else:
    return False

In [ ]:
unique_list([1, 2, 3, 4, 5])

True

In [ ]:
unique_list([1, 2, 3, 4, 2, 5])

False

Question 15

Write a function to add two positive integers together without using the + operator.

(Note, this will require some research - start here https://en.wikipedia.org/wiki/Bitwise_operation)

In [4]:
def no_plus_sum(a,b):
  while b != 0:
    carry = a & b
    a = a ^ b
    b = carry << 1
  return a

# Explanation: https://stackoverflow.com/questions/17342042/why-this-code-for-additionusing-bitwise-operation-works-in-java

In [2]:
no_plus_sum(4, 5)

9

In [3]:
no_plus_sum(100, 1234)

1334

Question 16

Write a function that will calculate the number of divisors of a positive integer and return those divisors.

In [5]:
def num_divisors(num):
  divisors = [i for i in range(1, num + 1) if num % i == 0]
  return (divisors, len(divisors))

In [6]:
num_divisors(15)

([1, 3, 5, 15], 4)

In [7]:
num_divisors(120)

([1, 2, 3, 4, 5, 6, 8, 10, 12, 15, 20, 24, 30, 40, 60, 120], 16)

In [8]:
num_divisors(900)

([1,
  2,
  3,
  4,
  5,
  6,
  9,
  10,
  12,
  15,
  18,
  20,
  25,
  30,
  36,
  45,
  50,
  60,
  75,
  90,
  100,
  150,
  180,
  225,
  300,
  450,
  900],
 27)

Question 17

Write a function that uses bitwise operations to determine whether a number is odd or even.

In [11]:
def odd_even(num):
  if (num & 1):
    print('Odd')
    return
  print('Even')

In [12]:
odd_even(5)

Odd

In [13]:
odd_even(8)

Even

Question 20

Write a function which prints the prime numbers in a given range.

In [18]:
def primes(start, end):
  primes = []
  for i in range(start, end+1):
    if i>1:
      for j in range(2,i):
        if i%j == 0:
          break
      else:
        primes.append(i)
  return primes

#(Note the use of the for/else clause here - it can be extremely useful - https://stackoverflow.com/questions/9979970/why-does-python-use-else-after-for-and-while-loops)

In [19]:
primes(1, 20)

[2, 3, 5, 7, 11, 13, 17, 19]

In [20]:
primes(20, 100)

[23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]