<a href="https://colab.research.google.com/github/Kavi-Sarna/365-python/blob/main/2%20-%20Introduction%20to%20Python/5%20-%20Functions/7%20-%20Built-in%20Functions%20Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Notable Built-In Functions in Python

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Obtain the maximum number among the values 25, 65, 890, and 15.

In [1]:
max(25, 65, 890, 15)

890

Obtain the minimum number among the values 25, 65, 890, and 15.

In [2]:
min(25, 65, 890, 15)

15

Find the absolute value of -100

In [3]:
abs(-100)

100

Round the value of 55.5. Did you obtain 56.0?

In [4]:
round(55.5)

56

Round 35.56789 to the third digit.

In [1]:
round(35.56789, 3)

35.568

Find the sum of all elements in the provided list, called "Numbers".

In [3]:
Numbers = [1, 5, 64, 24.5]

In [4]:
sum(Numbers)

94.5

Use a built-in function to raise 10 to the power of 3.

In [5]:
pow(10, 3)

1000

How many characters are there in the word "Elephant"?

In [6]:
len("Elephant")

8

Create a function, called "distance_from_zero", that returns the absolute value of a provided single argument and prints a statement "Not Possible" if the argument provided is not a number.
Call the funtion with the values of -10 and "cat" to verify it works correctly.

In [8]:
def distance_from_zero(a):
  if type(a) == int or type(a) == float:
    return abs(a)
  else:
    print('Not Possible')

In [9]:
distance_from_zero(-10)

10

In [10]:
distance_from_zero('cat')

Not Possible