<a href="https://colab.research.google.com/github/Kavi-Sarna/365-python/blob/main/2%20-%20Introduction%20to%20Python/6%20-%20Sequences/1%20-%20Introduction%20to%20Lists%20Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lists

Create a list, called "Numbers". Let it contain the numbers 10, 25, 40, and 50.

In [1]:
Numbers = [10, 25, 40, 50]
Numbers

[10, 25, 40, 50]

Print the element at index 2 from the list.

In [2]:
Numbers[2]

40

Print the 0th element.

In [3]:
Numbers[0]

10

Print the third-to-last element using a minus sign in the brackets.

In [4]:
Numbers[-3]

25

Substitute the number 10 with the number 15.

In [5]:
Numbers[0] = 15
Numbers

[15, 25, 40, 50]

Delete the number 25 from the Numbers list.

In [6]:
del Numbers[1]
Numbers

[15, 40, 50]