<a href="https://colab.research.google.com/github/Kavi-Sarna/365-python/blob/main/3%20-%20Python%20Programmer%20Bootcamp/8%20-%20Problems/2%20-%20Two%20Sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
def two_sum(l, target):
  pairs =[]
  for i in range(len(l)-1):
    for j in range(i+1, len(l)):
      if l[i] + l[j] == target:
        pairs.append((i, j))

  return pairs

In [47]:
l = [2, 5, 3, 7, 4]
print(two_sum(l, 10))

[(2, 3)]

In [48]:
print(two_sum(l, 9))

[(0, 3), (1, 4)]

In [49]:
print(two_sum(l, 7))

[(0, 1), (2, 4)]

In [51]:
print(two_sum([3, 3], 6))

[(0, 1)]

In [52]:
def two_sum(nums, target):
  d = {}

  for i in range(len(nums)):
    if target - nums[i] in d:
      print(d)
      return [d[target-nums[i]],i]

    d[nums[i]] = i

  return -1

In [53]:
l = [2, 5, 3, 7, 4]
print(two_sum(l, 10))

{2: 0, 5: 1, 3: 2}
[2, 3]

In [54]:
print(two_sum(l, 9))

{2: 0, 5: 1, 3: 2}
[0, 3]

In [55]:
print(two_sum(l, 7))

{2: 0}
[0, 1]

In [56]:
print(two_sum([3, 3], 6))

{3: 0}
[0, 1]

In [57]:
L = [8, 6, 11, 3]
print(two_sum(L, 9))

{8: 0, 6: 1, 11: 2}
[1, 3]

In [59]:
print(two_sum(L, 12))

-1